body{
				background-color: #EEE;

				background-color: #0d161c;
				font-family: "proxima-nova",sans-serif;
				font-size: 0.770em;
				font-weight: 500;
				//overflow-x: hidden;

			}

			#siteContainer{
				width:1024px;
				margin:auto;
				height:100%;
			}

			#ourWork{
				background:#211E25;
				height:512px;
				//padding:55px 45px;
			}

			#ourWorkTop{
				height:384px;
				width:inherit;
				background:inherit;
				padding:55px 44px;
	
			}
			.ourWorkDescription{
				background:inherit;
				height: 384px;	
				width: 254px;
				float:left;
				color:#AEAEAE;
			}

			.ourWorkDescription p{
				margin-right:40px;
				margin-top: 15px;

			}
			.ourWorkDescription ul{
				color:#19A6BB;
			}
			.ourWorkDescription li{
				line-height: 2.5em;
			}
			.workTitle{
				color:#AEAEAE;
				text-transform:uppercase;
			}
			.awardTitle{

				color:#19A6BB;
				text-transform:uppercase;
				font-style: italic;

			}

			.ourWorkRight{
				width:682px;
				float:left;
				height:inherit;
			}
			.touchslider{
				width:inherit;
				float:left;
			}
			#project02{
				//display: none;
			}
			#ourWorkBottom{

				color:#272726;
				border-top:solid;
				border-width:5px;

				width: 100%;
				margin:0px;
				position:relative;
				
				background-color: #19171C;
				height:112px;
			}

		
			.ourWorkThumbs{
				margin: 0 auto;
				width:800px;
	
			}

			.ourWorkThumb{

				-webkit-transform: skew(35deg);
			   -moz-transform: skew(35deg);
			    -o-transform: skew(35deg); 

			    position: relative;
				left:-40px;//Adjust Thumb alignment
			}

			.parallelogram {
				border-top:#333333;
			
				float:left;
			 	width: 93px;
			 	height: 108px; 
			  	-webkit-transform: skew(-35deg);
			   	-moz-transform: skew(-35deg);
			    -o-transform: skew(-35deg); 


			   
			    overflow: hidden;

			    border-width:0px 5px 5px 0px;
			    border-spacing:0px;
			    border-style:solid;
				border-color:#272726;
				-webkit-backface-visibility:hidden; //Fix jagged images?


				
			}
			.firstParallelogram{
				 border-width:0px 5px 5px 5px;
			}

		/**************** Slider ******************/
		.touchslider-nav{
			margin:15px 0;
			float:right;
		}
		.touchslider-demo .touchslider-nav a {
			cursor: pointer;
			color: #000;

		}
		

	
		.touchslider-demo .touchslider-nav-item {
			width: 12px;
			height: 12px;
			background: #312E36;
			margin: 0 0 0 5px;
			display: inline-block;
			-webkit-border-radius: 12px;
			        border-radius: 12px;
			}
		.touchslider-demo .touchslider-nav-item-current {
			background: #655F6E;
		}
			