
#about{
	position: relative;
	margin:auto;

	height:609px;
	width:1024px;
	background-image:url('../images/about/about_ben.jpg');
}
.aboutButtonContain{
	clear: both;
	height:509px;
	width: 200px;
}
.aboutButton{
	margin-bottom:10px;
	opacity: 0.3;
}

.aboutButtonSelected{
	margin-bottom:10px;
	opacity: 1;
}

#aboutFloater {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -254px; 
}

#aboutDescContain{
	position: absolute;
	left:48px;
	top:185px;
	width:450px;
	height:195px;
	background-color:rgba(0,0,0,0.6);

}
.aboutDesc{
	margin:35px 32px;
}

#aboutDescContain h1{
	font-size: 24px;
}

#aboutDescContain p{
	color:#FFF;
	margin-top: 14px;
	line-height: 1.6;
}
.aboutThumbs{
	/*background:black;


	width:1024px;
	height:64px;*/
}
.aboutThumb{
		width:128px;
		height:64px;
		/*
		-webkit-transform: skew(35deg);
	   -moz-transform: skew(35deg);
	    -o-transform: skew(35deg); */
	    float:left;
	    position:relative;


}
.aboutThumb img{
	position: absolute;
	
}
.aboutDivide {
	position:absolute;
	right:0px;
}