
#about{
	position: relative;
	margin:auto;

	height:605px;
	width:1024px;
	background-image:url('../images/about/about_landing.jpg');
	overflow: hidden;
}
.aboutButtonContain{
	clear: both;
	height:509px;
	width: 200px;
}
.aboutButton{
	margin-bottom:10px;
	opacity: 0.3;
}

.aboutButtonSelected{
	margin-bottom:10px;
	opacity: 1;
}

#aboutFloater {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -254px; 
}

#aboutDescContain{
	position: absolute;
	left:0;
	top:56px;
	width:441px;
	height:253px;
	background-color:rgba(0,0,0,0.5);

}
.aboutDesc{
	margin:35px 32px;
}

#aboutDescContain h1{
	font-size: 24px;
}

#aboutDescContain p{
	color:#FFF;
	margin-top: 14px;
	line-height: 1.6;
}
.aboutThumbs{
	width:1024px;
						
	position:absolute;
	bottom:0px;
}
.aboutThumb{
		width:128px;
		height:64px;
		/*
		-webkit-transform: skew(35deg);
	   -moz-transform: skew(35deg);
	    -o-transform: skew(35deg); */
	    float:left;
	    position:relative;


}
.aboutThumb img{
	position: absolute;
	
}
.thumbDivide {
	position:absolute;
	right:0px;
}

/* Landing page*/
#aboutTitle{
	position: absolute;
	right:48px;
	bottom:225px;
	width:927px;
	height:194px;
	background-color:rgba(0,0,0,0.6);
	line-height: 1.5;
}
#aboutTitleDesc{
	margin:56px 55px;
}
#aboutTitle h1{
	font-size:30px;
	
}
