
/* ----- set width and center layout ----- */
#contactContainer {
	background: #141414;
	width:1024px;
	height:673px;
	margin:0px auto;
	color:#484848;
}
#contactInnerContainer {
	background: #141414;
	width:933px;
	margin:auto;
}


/* --------------------------------------- */
#map{
	//width: 931px;
	//margin:auto;
	background: blue;
}
/* ----------- float columns ------------- */
#contactInfo { 
	
	float:left;
	width:25%;
}

#contactMid {
	
	float:left;
	width:25%;
}

#contactRight {
	
	float:left;
	width:50%;
}

/* --------------------------------------- */
#footer {
	background: #292929;
	clear:both;
	text-align:center;
	color:#3F3F3F;
}
/* --------------------------------------- */
.fieldStyle{
	background-color: #292929;
	border-style: none;
}
#questionBox {
	width: 465px;
	height:146px;


}
.contactInfo ul{
	list-style-type: square;
}

.emailFont a{
	color:blue;
}

.formBtn {
  color: #0AB8C9;
  background-color: #121212;
  font-weight: bold;
  border-style: none;
  font-size: 1.2em;
}
#submit{
	float: right;
}