body{background:#141414;}

/* ----- set width and center layout ----- */
#contactContainer {
	background: red;
	width:1024px;
	height:673px;
	margin:67px auto;
}
#contactInnerContainer {
	background: green;
	width:930px;
	margin:auto;
}


/* --------------------------------------- */
#map{
	width: 931px;
	margin:auto;
	background: blue;
}
/* ----------- float columns ------------- */
#contactInfo {
	background:#eee;
	float:left;
	width:25%;
}

#contactMid {
	background:#ccc;
	float:left;
	width:25%;
}

#contactRight {
	background:#ddd;
	float:left;
	width:50%;
}


/* --------------------------------------- */
#footer {
	background: blue;
	clear:both;
}
/* --------------------------------------- */

.questionBox {
	width: 400px;
	height:146px;
}
.contactInfo ul{
	list-style-type: square;
}