

/* ----------------------> CSS Main <---------------------- */


html, body{
	
}

body{
	background: #000000;
  	
	font-family:'Open Sans',Helvetica,Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y:hidden;

}


a:link, a:visited, a:active, a:hover{
  	
  	color: #a4a4a4;
	font-size: 0.85em;
	
	letter-spacing: .01em;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

a.selectedNav {
  color: rgb(8, 215, 235);
}

a:hover{
	color: #08d7eb;

}
ul{
	list-style-type: none;
}
#pageContent{
	width:1024px;
	margin:0 auto;

}

#current{
	width: 93px;
	height: 3px;
	position: absolute;
	bottom:0px;
	background-color: rgb(8, 215, 235);
}

.clear{
	clear: left;
	
}


#mainContainer{
	width: 100%;
	padding-top: 0px;

}

#centerNav{
	position: fixed;
	width:100%;
	position: fixed;
	z-index: 100;

}

#mainNavigation{
	font-family:'Cabin',Helvetica,Arial, sans-serif;
	font-size: 13pt;
	font-weight: 700;
	height:68px;
	width: 1024px;
	//padding: 15px 0 15px 0;
	
	background-color: #000;
	margin: 0px auto;

	
	

	 
}

#mainNavigation li{
	display: inline-block;
	padding-right: 8%;
	padding-top: 8px;
	
} 

#logo{
	float: left;
	margin-left: 30px;
	width:100px;
	position: relative;
} 
#logoOff{
	position:relative;
	top:0;
	left:0;

}
#logoOn{
	position: absolute;
	top:0;
	left:0;
}

.socialIcons{
	float: right;
	margin-right: 10px;
	width:80px;
	position: relative;
}

#githubOff{
	position:relative;
	right:0;
	top:0;
}
#githubOn{
	position: absolute;
	right:0;
	top:0;
}

#vimeoOff{
	position:relative;
	right:0;
	top:0;
}
#vimeoOn{
	position: absolute;
	right:0;
	top:0;
}





#mainNavigation ul{
	margin-left: 13%;

}
#centerNavText{
	padding:20px 0px;
}

/* ----------------------> Home <---------------------- */
#home{
	width:inherit;

	height: 605px;
	background:url(../images/home/LandingBG.jpg);
	text-align: center;

}
#greeting{

	left:50%;
	top:300px;
	position:absolute;
	
}

#greeting h1{
	position: relative;
	font-size: 24px;
	

	width: 540px;
	line-height: 1.2em;
	left:-50%;
}

/*--------------> Thumbs <-----------------------*/

.selectedThumb{
	color:#FFFFFF;
}

/* ----------------------> Page <---------------------- */

#footer {
	background: #292929;
	clear:both;
	text-align:center;
	color:#3F3F3F;
	height:33px;
	line-height: 33px;
	padding:0px;
	 
}

#pageSpace{
	background: #292929;
}




.titleColor1{
	color:#09B2C3;
	font-weight: 700;
}
.titleColor2{
	color:#FFFFFF;
	font-weight: 400;
}

