

/* ----------------------> CSS Main <---------------------- */


html, body{
	width: 100%;
}

body{
	background: #000000;
  	
	font-family:Helvetica,Arial;
	font-size: 14px;
	font-weight: 500;
		overflow-x: hidden;

}
h1{
	font-size: 1.5em;
	color:#0AB8C9;
}


a:link, a:visited, a:active, a:hover{
  
  	color: #a4a4a4;
	font-size: 0.85em;
	font-weight: 400;
	letter-spacing: .01em;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

a.selected {
  color: rgb(8, 215, 235);
}

a:hover{
	color: #08d7eb;
}
ul{
	list-style-type: none;
}
#pageContent{
	width:1024px;
	margin:0 auto;

}

#current{
	width: 93px;
	height: 3px;
	position: absolute;
	top: 58px;
	background-color: rgb(8, 215, 235);
}

.clear{
	clear: left;
	
}


#mainContainer{
	width: 100%;
	
}

#mainNavigation{
	//height:48px;
	//line-height:48px;
	width: 100%;
	padding: 15px 0 15px 0;
	background-color: #0d161c;
	position: fixed;
	margin-top: -20px;
	z-index: 100;
}

#mainNavigation li{
	display: inline-block;
	padding-right: 8%;
	padding-top: 8px;
	
} 

#mainNavigation img{
	float: left;
	margin-left: 5%;
} 

#mainNavigation ul{
	margin-left: 13%;

}

/* ----------------------> Home <---------------------- */
#home{
	width:inherit;
}
#greeting{

	height: 610px;
	background: #000000 url(../images/main/welcome_bg.png) repeat;
	margin: 20px 0 0 0;
	text-align: center;
	z-index: 99;
	
}

#greeting h1{
	font-size: 24px;
	
	color: #b0b0b0;
	width: 750px;
	line-height: 1.2em;
	margin: 0 auto;
}

#greeting h1 span{
	font-weight: 700;
	color: #08d7eb;
}

#greeting img{
	margin-top: 7%;
}

/* ----------------------> Our Work <---------------------- */
#our_work{

}


#footer {
	background: #292929;
	clear:both;
	text-align:center;
	color:#3F3F3F;
	height:33px;
	width: 
}

.titleColor1{
	color:#09B2C3;
}
.titleColor2{
	color:#FFFFFF;
}

