			#siteContainer{
				width:1024px;
				margin: 0 auto;
				height:100%;
			}

			#our_work{
				position:relative;

				margin:auto;
				height:613px;
				width:1024px;

				background-image:url('../images/our_work/OurWorkBG.jpg');
				
				
				overflow: hidden;

				font-size: 11px;
			}
			/* Landing  */
			#our_work_landing{
				position: absolute;
				z-index: 2;
			}
			#ourWorkTitle{
				position: absolute;
				right:52px;
				bottom:167px;
				width:922px;
				height:195px;
				background-color:rgba(0,0,0,0.6);
				line-height: 1.5;
			}
			#ourWorkTitleDesc{
				margin:36px 53px;
			}
			#ourWorkTitle h1{
				font-size:25px;
				
			}
			#ourWorkTitle p{
				position: absolute;
				bottom: 11px;
				color:#ffffff;
			}


			#our_workTop{

				padding-top:60px;
				overflow: hidden;
				width:936px;
				margin:0px auto;
				height:610;
			
			}

			.our_workDescription{
				background:inherit;
				height: 360px;	
				width: 204px;
				float:left;
				color:#AEAEAE;
				padding:24px 25px 0px 25px;

				background-color:rgba(0,0,0,0.3);
			}

			.our_workDescription p{
				//margin-right:40px;

				//margin-top: 15px;

			}
			.our_workDescription ul{
				color:#19A6BB;
			}
			.our_workDescription li{
				line-height: 2.5em;
			}

			.workTitle{
				color:#CBCBCB;
				text-transform:uppercase;
			}
			.awardTitle{

				color:#19A6BB;
				text-transform:uppercase;
				font-style: italic;

			}

			.our_workRight{
				width:682px;
				float:left;
				height:inherit;
			}

			#project02{
				//display: none;
			}
			#our_work_bottom{
				width:1024px;
						
				position:absolute;
				bottom:0px;
			}
	
			.thumbDim{
				background-color:black;
				//opacity: .75;
				height:84px;
				width:122px;

			}
			.our_workThumb{
				width:122px;
				height:64px;
				/*
				-webkit-transform: skew(35deg);
			   -moz-transform: skew(35deg);
			    -o-transform: skew(35deg); */
			    float:left;
			    position:relative;
				color:#cac8c8;

			}

			.our_work_divide{
			float:right;
				
			}
			.thumb_number{
					font-size: 1.2em;
					
					position:absolute;
					bottom:3px;
					left:4px;
			}
			.thumb_name{
				font-size: 1.2em;
				
				position:absolute;
				bottom:3px;
				right:4px;
			}
			.ourWorkSelected{
				color:#FFFFFF;
			}



			.parallelogram {
				border-top:#333333;
			
				float:left;
			 	width: 93px;
			 	height: 108px; 
			  	-webkit-transform: skew(-35deg);
			   	-moz-transform: skew(-35deg);
			    -o-transform: skew(-35deg); 


			   
			    overflow: hidden;

			    border-width:0px 5px 5px 0px;
			    border-spacing:0px;
			    border-style:solid;
				border-color:#272726;
				-webkit-backface-visibility:hidden; //Fix jagged images?


				
			}
			.firstParallelogram{
				 border-width:0px 5px 5px 5px;
			}

			
		/**************** Slider ******************/
		.touchslider{
			width:inherit;
			float:left;
			position:absolute;

		}
		.touchslider-nav{
			margin:15px 0;
			float:right;
		}
		.touchslider-demo .touchslider-nav a {
			cursor: pointer;
			color: #000;

		}
		

	
		.touchslider-demo .touchslider-nav-item {

			width: 12px;
			height: 12px;
			background: #312E36;
			margin: 0 0 0 5px;
			display: inline-block;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			}
		.touchslider-demo .touchslider-nav-item-current {
			background: #655F6E;
		}
		.touchslider-prev{
			position: absolute;
			left: 00px;
			top: 140px;
			z-index: 1;
		}

		.touchslider-next{
			position: absolute;
			left: 637px;
			top: 140px;
			z-index: 1;
		}
		.touchslider-viewport{
			width: 682px; 
			overflow: hidden; 
			position: absolute;
			height: 384px;
			background-color:rgba(0,0,0,0.3);

		}

		#play_btn{
			position: absolute;
			left: 637px;
			top: 140px;
			z-index: 1;
		}