body{
				background-color: #EEE;

				background-color: #0d161c;
				font-family: "proxima-nova",sans-serif;
				font-size: 0.770em;
				font-weight: 500;
				//overflow-x: hidden;

			}

			#siteContainer{
				width:1024px;
				margin: 0 auto;
				height:100%;
			}

			#our_work{
				position:relative;

				margin:auto;
				height:613px;
				width:1024px;

				background-image:url('../images/our_work/OurWorkBG.jpg');
				
				
				overflow: hidden;
			}
			#our_work_top_contain{

			}
			#our_workTop{

				padding-top:60px;
				overflow: hidden;
				width:936px;
				margin:0px auto;

			}

			.our_workDescription{
				background:inherit;
				height: 384px;	
				width: 184px;
				float:left;
				color:#AEAEAE;
				padding:0px 35px;
				background-color:rgba(0,0,0,0.3);
			}

			.our_workDescription p{
				//margin-right:40px;

				//margin-top: 15px;

			}
			.our_workDescription ul{
				color:#19A6BB;
			}
			.our_workDescription li{
				line-height: 2.5em;
			}

			.workTitle{
				color:#AEAEAE;
				text-transform:uppercase;
			}
			.awardTitle{

				color:#19A6BB;
				text-transform:uppercase;
				font-style: italic;

			}

			.our_workRight{
				width:682px;
				float:left;
				height:inherit;
			}

			#project02{
				//display: none;
			}
			#our_work_bottom{
				width:1024px;
						
				position:absolute;
				bottom:0px;
			}
			.our_workThumb{
				
				/*
				-webkit-transform: skew(35deg);
			   -moz-transform: skew(35deg);
			    -o-transform: skew(35deg); */
			    float:left;
			    position:relative;

			}

			#our_work_divide{
		
			z-index: 1;
			  position:absolute;
			  left:0px;
				
			}


			.parallelogram {
				border-top:#333333;
			
				float:left;
			 	width: 93px;
			 	height: 108px; 
			  	-webkit-transform: skew(-35deg);
			   	-moz-transform: skew(-35deg);
			    -o-transform: skew(-35deg); 


			   
			    overflow: hidden;

			    border-width:0px 5px 5px 0px;
			    border-spacing:0px;
			    border-style:solid;
				border-color:#272726;
				-webkit-backface-visibility:hidden; //Fix jagged images?


				
			}
			.firstParallelogram{
				 border-width:0px 5px 5px 5px;
			}


		/**************** Slider ******************/
		.touchslider{
			width:inherit;
			float:left;
			position:absolute;

		}
		.touchslider-nav{
			margin:15px 0;
			float:right;
		}
		.touchslider-demo .touchslider-nav a {
			cursor: pointer;
			color: #000;

		}
		

	
		.touchslider-demo .touchslider-nav-item {

			width: 12px;
			height: 12px;
			background: #312E36;
			margin: 0 0 0 5px;
			display: inline-block;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			}
		.touchslider-demo .touchslider-nav-item-current {
			background: #655F6E;
		}
		.touchslider-prev{
			position: absolute;
			left: 00px;
			top: 140px;
			z-index: 1;
		}

		.touchslider-next{
			position: absolute;
			left: 637px;
			top: 140px;
			z-index: 1;
		}
		.touchslider-viewport{
			width: 682px; 
			overflow: hidden; 
			position: absolute;
			height: 384px;
			background-color:rgba(0,0,0,0.3);

		}

		#play_btn{
			position: absolute;
			left: 637px;
			top: 140px;
			z-index: 1;
		}