#solutions{
	margin:auto;
	height:605px;
	width:1024px;
	background-image:url('../images/solutions/solutions_landing.jpg');
	position: relative;
}

.solutionButton{
	width:182px;
	height:63px;

	
	position: relative;

	background-image:url('../images/solutions/dottedLine.png');
	background-repeat:no-repeat;
	
	background-position:left bottom;
	

}

.solutionsButtonSelected{
	background-color:rgba(0,0,0,0.5);
}
.solutionButton p{
	position:absolute;
	bottom:8px;
	right:10px;
	color:#FFF;
}

#solutionButtonsContain{
	clear: both;
	height:387px;
	width: 200px;

}

#solutionFloater {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -193px; 
}


.solutionDesc{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
	width:650px;
	height:190px;


}
#solutionDescContain{
	position: absolute;
	top:0;
	right:0;
	width:721px;
	height:315px;
	

}
#solutionDescContain h1{
	text-transform: uppercase;
}

#solutionDescContain p{
	color:#FFF;
	font-size: 18px;
	font-weight: 400;
	margin-top: 15px;

	line-height: 1.3;
}
#solutionContentCenter{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;

	width:921px;
	height:315px;
	background-color:rgba(0,0,0,0.5);
	line-height: 1.5;

}
#solutionTitleDesc{
	//margin:20px 53px;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	height:80px;
	width: 650px;
	margin:auto 300px;
	
	
}

#solutionContentCenter h1{
	font-size:25px;
}

#solutionTitleDesc h1{
	font-size: 25px;
}
.pageBgImage{
	position: absolute;

	top:0px;
	right:0px;
	z-index: 0;

}
.solutionButton{
	font-size: 12px;
}